* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3cb05;
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
}

.Input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    place-items: center;
}

input {
    width: 400px;
    height: 60px;

}

.Input button {
    width: 90px;
    height: 60px;
    border: none;
    background-color: #52cd06;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;

}

.Input input {
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #0587f9;
}
table{
    width: 1100px;
    border:1px #a5a4a4 solid;
    background-color:white ;
    text-align: center;
    border-collapse: collapse;
}
th{
    background-color: #d5d5a5;
     border: 1px solid #efefe8;
     font-size: 30px;
     font-weight: bolder;
}
tr,td{
    border: 1px solid #d4d48c;
    height: 50px;
    font-size:20px;
}
.actionButton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    place-items: center;
   

}
.actionButton button{
    width: 100px;
    height: 30px;
}



